<nav>
    <div class="mobile-menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links">
        <% navItems.forEach(item => { %>
            <li class="<%= item.items ? 'dropdown' : '' %>">
                <a href="<%= item.link %>" 
                   class="<%= currentPath === item.link ? 'active' : '' %> <%= item.items ? 'has-dropdown' : '' %>">
                    <%= item.text %>
                    <% if (item.items) { %><i class="fas fa-chevron-down"></i><% } %>
                </a>
                <% if (item.items) { %>
                    <div class="dropdown-content">
                        <% item.items.forEach(subItem => { %>
                            <a href="<%= subItem.link %>" 
                               class="<%= currentPath === subItem.link ? 'active' : '' %>">
                                <%= subItem.text %>
                            </a>
                        <% }); %>
                    </div>
                <% } %>
            </li>
        <% }); %>
    </ul>
</nav>